*{
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 25px;
}

.description {
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
}

.userWins { grid-area: header-left; }
.aiWins { grid-area: header-right; }
.tieWins { grid-area: footer; }

.scoreboard {
	width: 95%;
  display: grid;
  grid-template-areas:
    'header-left header-right'
    'footer footer';
  grid-gap: 1px;
  background-color: #333;
  border: solid 2px #333;
  margin: 68% auto;
	border-radius: 5px;
}

.scoreboard > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#main {
	display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 10px;
  width: 40%;
	height: 485px;
	margin: 25px auto;
}

#user, #ai, #mid {
	height: 485px;
}

#mid {
	grid-column-start: 2;
  grid-column-end: 4;
	background-color: white;
}

#user div, #ai div {
	width: 200px;
	height: 150px;
	margin: 10px auto;
	background-color: lightgrey;
	border-radius: 5px;
}

#user div {
	cursor: pointer;
}

#ai div {
	cursor: not-allowed;
}

img {
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	font-size: 22px;
	font-weight: 700;
}

.transparent-border {
	border: solid 3px transparent;
}

.tie {
	border: solid 3px black;
}

.winner {
	border: solid 3px lawngreen;
}

.loser {
	border: solid 3px orangered;
}

.tie, .winner, .loser {
	box-shadow: 3px 3px 3px #999;
}
